*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: heroFont;
    src: url(/fonts//SHRIMP.ttf);
}
@font-face {
    font-family: heroFontItalic;
    src: url(/fonts/Morganite/Morganite-BlackItalic.ttf);
}
.principal{
    background: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
.navbar{
    position: absolute;
    top: 20px;
    margin-left: 70px;
}
.navegador-principal{
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.navegador-principal li{
    font-family: heroFont;
}
.paginas-secundario{
    position: absolute;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.387);
    padding: 5px;
    border-radius: 10px;
    display: none;
    right:-40px
}
.paginas-secundario li{
    margin: 5px 0px;
}
.paginas-secundario li a{
    text-decoration: none;
    color: black;
}
.decoracion-quotes{
    width: 100px;
    height: 100px;
    animation: deslizamientoAbajo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
.decoracion-quotes img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.hero-container span{
    display: block;
    margin-top: -50px;
}
.hero-container h1{
    text-align: center;
    font-family: heroFont;
}
.jumbotron-container-1{
    font-size: 0.8em;
    animation: deslizamientoDerecha;
    animation-duration: 0.5s;
}
.jumbotron-container-2{
    font-size: 6em;
    font-family: heroFontItalic;
    opacity: 0;
    animation: deslizamientoIzquierda;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.jumbotron-container-2 span{
    display: inline;
    color: rgb(237, 237, 237);
}
.jumbotron-container-3{
    font-size: 0.7em;

    opacity: 0;
    animation: deslizamientoDerecha;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes deslizamientoDerecha {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes deslizamientoIzquierda {
    from{
        transform: translateX(+200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes deslizamientoAbajo {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.selectorColor{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.selectorColor .selectorIzquierda{
    width: 95px;
    height: 100%;
    cursor: pointer;
}
.selectorColor .selectorDerecha{
    width: 95px;
    height: 100%;
    cursor: pointer;
}
.selectorIzquierda img{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    object-fit: contain;
}
.selectorDerecha img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.proyectos{
    width: 100%;
    height: 100vh;
    background: #38445a;
    display:flex;
}

.form-register{
    width: 400px;
    margin: 20px;
    background-color:rgb(59, 58, 58);
    padding: 30px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 18px 10px 30px 15px rgba(0, 0, 0, 0.307);
    border:2px solid white;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background-color:rgb(32, 31, 31);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height:20px;
}
.form-register .botons{
    width: 100%;
    background-color:rgb(99, 99, 99);
    border-color: white;
    border: 2px solid;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}
.base-datos{
    width: 400px;
    border:2px solid white;
    background-color:rgb(59, 58, 58);
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 18px 10px 30px 15px rgba(0, 0, 0, 0.307);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.base-datos h4{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.Productos{
    font-size: 1.5em;
    animation: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.contenedor-calculadora{
    width: 300px;
    height: 440px;
    margin: 20px;
    border: 5px solid rgb(223, 221, 221);
    border-radius: 5px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 18px 10px 30px 15px rgba(0, 0, 0, 0.307);
}
.pantalla-calculadora{
    width: auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 2px;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
    padding: 10px;
}
.pantalla-calculadora p{
    font-size: 2em;
    color:white;
    font-family: Arial, Helvetica;
}
.contenedor-calculadora .teclado-calculadora{
    width: 100%;
    height: 80%;
}
.teclado-calculadora .boton{
    width: 70px;
    height: 100%;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    border-color: #fffffe;
    background-color: rgb(59, 58, 58);
}
.contenedor-PiedraPapelTijera{
    width: 300px;
    height: 440px;
    margin: 20px;
    border: 5px solid rgb(59, 58, 58);;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    box-shadow: 18px 10px 30px 15px rgba(0, 0, 0, 0.307);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedor-PiedraPapelTijera .pantallaJugador{
    width: 100%;
    height: 50%;
    border: 2px solid rgb(195, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}
.pantallaJugador .objeto{
    width: 90px;
    height: 90px;
    border: 2px solid rgb(187, 255, 0);
    text-align: center;

}
.pantallaJugador .puntuacion{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(174, 255, 0);
    position: absolute;
}
.pantallaJugador .puntuacionIA{
    top: 0;
    left: 0;    
}
.pantallaJugador .puntuacionJugador{
    bottom: 0;
    left: 0
}